@font-face {
    font-family: MontserratCustom;
    src: url(fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: Josefin-Sans;
    src: url(fonts/JosefinSans-Regular.ttf);
}
* {
    font-family : MontserratCustom;
}

#account_field_container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.account-field {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 4px;
}

.account-field * {
    display: flex;
    justify-content: center;
}

.account-field:hover {
    box-shadow: 3px 3px 5px grey;
    background-color: rgb(28, 97, 201);
    color: white;
}

.account-label {
    margin-top: 5px;
}

.account-info {
    font-style: italic;
}

#employee_database {
    width: fit-content;
}

#employee_information {
    border-radius: 4px;
    border: solid black 2px;
    width: fit-content;
    background-color: #8f8585dc;
}

tr:nth-child(even){
    background-color: rgb(66, 202, 226);
}

#sidebar {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(28, 97, 201);
    border-right: solid black 2px;
}

#sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #ffffff;
    display: block;
}

#sidebar a:hover {
    color: rgb(103, 212, 255)
}

#button_container {
    margin-top: 5px;
}

main {
    margin-left: 150px;
}